src/configuration/classpathfile.xml.xsd

<?xml version="1.0" encoding="UTF-8"?>


<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="ClassPaths" type="ClassPathsType">
    </xs:element>

    <xs:complexType name="ClassPathsType">
        <xs:sequence maxOccurs="unbounded">
            <xs:element type="propertyType" name="class"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="propertyType">
        <xs:attribute name="name" use="required" />
        <xs:attribute type="xs:string" name="path" use="required" />
    </xs:complexType>

</xs:schema>